@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --main-color: #1473E6;
    --footer-semi-color: #1473e680;
    --blue-light: #e3f2fd;
}

* {
    padding: 0;
    margin: 0
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    height: 100vh;
}

footer {
    font-weight: 300;
    position: relative
}

.f-title {
    font-size: 9px;
    font-weight: 300;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

    .f-title:visited {
        color: #fff;
    }

footer a.nav-link {
    color: #fff !important;
    font-size: 10px;
}

.sidebar-blue {
    background-color: var(--main-color);
}

@media only screen and (min-width: 1400px) {
    .f-title {
        font-size: 12px !important;
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a.nav-link {
    font-size: 12px;
}

.nav-link.active {
    background-color: #0950a5f0;
    padding: 0.5rem
}

@media only screen and (max-width: 800px) {
    a .nav-link {
        font-size: 10px;
    }

    .header-btn {
        font-size: 10px;
    }

    li.nav-item.px-2 {
        padding-left: 0 !important;
    }

    .floating-btn {
        bottom: 80px !important;
    }

    .sidebar-blue {
        display: none !important;
    }

    .carousel-item {
        height: 57.5rem !important;
    }

        .carousel-item > img {
            height: 57.5rem !important;
        }
}

.header-btn {
    font-size: 12px;
    border: 1.5px solid #fff;
}

.navbar-blue {
    background-color: var(--main-color);
    color: #fff;
}

.bg-blue {
    background-color: var(--main-color);
}

.bg-semi-blue {
    background-color: var(--footer-semi-color);
}

.navbar-blue a, .navbar-blue button {
    color: #fff !important;
    font-weight: 300;
}

.navbar-blue .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.floating-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 5px;
    cursor: pointer
}

.pointer {
    cursor: pointer
}

footer input:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    background-color: cadetblue;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 49.5rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 49.5rem;
    }

/* Center align the text within the three columns below the carousel */
.features .col-md-4 {
    /*margin-bottom: 1.5rem;*/
    text-align: center;
}

    .features .col-md-4 > div {
        background-color: var(--blue-light);
    }

    .features .col-md-4 h4 {
        font-weight: 400;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .features .col-md-4 .bd-placeholder-img {
        background-color: var(--footer-semi-color)
    }

    /* rtl:begin:ignore */
    .features .col-md-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
        text-align: justify;
    }
/* rtl:end:ignore */

.featurette-divider {
    margin: 5rem 0;
}

.card-bottom {
    background-color: var(--footer-semi-color)
}

.pricing .card {
    background-color: #e3f2fd00;
    border: none !important;
    box-shadow: none !important;
    transform: scale(1);
    border: none;
    transition: all ease-in-out 0.5s;
}

    .pricing .card:hover {
        transform: scale(1.05, 1.1);
        border: 1px solid !important;
    }

    .pricing .card .card-bottom:hover {
        background-color: var(--main-color);
    }

        .pricing .card .card-bottom:hover h4 span {
            display: none;
        }

        .pricing .card .card-bottom:hover h4::after {
            content: 'Purchase';
        }

.pricing, .traductors {
    margin-top: 5.5rem !important;
}

.stats {
    margin-top: 6rem !important;
    background-color: var(--main-color);
    color: #fff !important;
}

    .stats .row .col-sm-3 {
        text-align: center;
    }

        .stats .row .col-sm-3 h4 {
            font-weight: 300;
        }

        .stats .row .col-sm-3 .stat {
            font-size: 5rem;
        }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.traductors .trad-content .col-6 {
    margin-top: 1.2rem !important;
}

.contact {
    background-color: var(--blue-light);
}

    .contact .card {
        box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        border: none !important;
    }

.vision .illustration > div {
    padding: 0.5rem
}

.vision .vision-cart {
    background-color: var(--blue-light);
    min-height: 250px;
}

.mission {
    margin-top: 8rem !important
}

    .mission . mission-card .col-md-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }


        .mission .mission-card .col-md-4 .bd-placeholder-img {
            background-color: var(--blue-light);
            border: none;
        }


/* Center align the text within the three columns below the carousel */
.about-languages .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}


    .about-languages .col-md-4 h4 {
        font-weight: 400;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    .about-languages .col-md-4 .bd-placeholder-img {
        background-color: var(--footer-semi-color)
    }

    /* rtl:begin:ignore */
    .about-languages .col-md-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }

@media (max-width: 768px) {
    .about-languages .middle {
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 1px solid #7a76761f;
        border-bottom: 1px solid #7a76761f;
    }
}

.mission ul > li {
    margin: 1.2rem;
}

.vision-cart.cart-1 {
    background-image: url(../images/vision-1.jpg);
    object-fit: cover
}

.vision-cart.cart-2 {
    background-image: url(../images/vision-2.jpg);
    object-fit: cover
}

.vision-cart.cart-3 {
    background-image: url(../images/vision-3.jpg);
    object-fit: cover
}

.vision-cart.cart-4 {
    background-image: url(../images/vision-4.jpg);
    object-fit: cover
}

.vision-cart.cart-5 {
    background-image: url(../images/vision-5.jpg);
    object-fit: cover
}

.vision-cart.cart-6 {
    background-image: url(../images/vision-6.jpg);
    object-fit: cover
}
/* rtl:end:ignore */

/* SIGN UP PAGE */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

    .signup-container .card {
        height: calc(100vh - 49px);
        width: 100%;
        background-color: #fff;
        position: relative;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        font-family: 'Poppins', sans-serif;
        border-radius: 0!important
    }

        .signup-container .card .form {
            width: 100%;
            height: 100%;
            display: flex
        }

        .signup-container .card .left-side {
            width: 35%;
            background-color: #304767;
            height: 100%;
            /*border-top-left-radius: 20px;*/
            /*border-bottom-left-radius: 20px;*/
            padding: 20px 30px;
            box-sizing: border-box
        }

.left-heading {
    color: #fff
}

.steps-content {
    margin-top: 30px;
    color: #fff
}

    .steps-content p {
        font-size: 12px;
        margin-top: 15px
    }

.signup-progress-bar {
    list-style: none;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    counter-reset: container 0
}

    .signup-progress-bar li {
        position: relative;
        margin-left: 40px;
        margin-top: 50px;
        counter-increment: container 1;
        color: #4f6581
    }

        .signup-progress-bar li::before {
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 25px;
            width: 25px;
            border: 1px solid #4f6581;
            border-radius: 50%;
            left: -40px;
            top: -5px;
            z-index: 10;
            background-color: #304767
        }

        .signup-progress-bar li::after {
            content: '';
            position: absolute;
            height: 90px;
            width: 2px;
            background-color: #4f6581;
            z-index: 1;
            left: -27px;
            top: -70px
        }

        .signup-progress-bar li.signup-active::after {
            background-color: #fff
        }

        .signup-progress-bar li:first-child:after {
            display: none
        }

        .signup-progress-bar li.signup-active::before {
            color: #fff;
            border: 1px solid #fff
        }

        .signup-progress-bar li.signup-active {
            color: #fff
        }

.d-none {
    display: none
}

.signup-container .card .right-side {
    width: 65%;
    background-color: #fff;
    height: 100%;
    border-radius: 20px
}

.signup-main {
    display: none
}

.signup-active {
    display: block
}

.signup-main {
    padding: 40px
}

    .signup-main small {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
        height: 30px;
        width: 30px;
        background-color: #ccc;
        border-radius: 50%;
        color: yellow;
        font-size: 19px
    }

.text {
    margin-top: 20px
}

.congrats {
    text-align: center
}

.text p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #cbced4
}

.input-text {
    margin: 30px 0;
    display: flex;
    gap: 20px
}

    .input-text .input-div {
        width: 100%;
        position: relative
    }

input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px
}

select {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px
}

.input-text .input-div span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    transition: all 0.5s
}

.input-div input:focus ~ span,
.input-div input:valid ~ span {
    top: -15px;
    left: 6px;
    font-size: 10px;
    font-weight: 600
}

.input-div span {
    top: -15px;
    left: 6px;
    font-size: 10px
}

.signup-buttons button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #0075ff;
    font-size: 12px;
    color: #fff;
    cursor: pointer
}

.button_space {
    display: flex;
    gap: 20px
}

    .button_space button:nth-child(1) {
        background-color: #fff;
        color: #000;
        border: 1px solid#000
    }

.user_card {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 200px;
    width: 100%;
    border: 1px solid #c7d3d9;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box
}

    .user_card span {
        height: 80px;
        width: 100%;
        background-color: #dfeeff
    }

.circle {
    position: absolute;
    top: 40px;
    left: 60px
}

    .circle span {
        height: 70px;
        width: 70px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        border-radius: 50%
    }

        .circle span img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover
        }

.social {
    display: flex;
    position: absolute;
    top: 100px;
    right: 10px
}

    .social span {
        height: 30px;
        width: 30px;
        border-radius: 7px;
        background-color: #fff;
        border: 1px solid #cbd6dc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: #cbd6dc
    }

        .social span i {
            cursor: pointer
        }

.heart {
    color: red !important
}

.share {
    color: red !important
}

.user_name {
    position: absolute;
    top: 110px;
    margin: 10px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    width: 100%
}

    .user_name h3 {
        color: #4c5b68
    }

.detail {
    display: flex;
    justify-content: space-between;
    margin-right: 50px
}

    .detail p {
        font-size: 12px;
        font-weight: 700
    }

        .detail p a {
            text-decoration: none;
            color: blue
        }

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%, 100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}

.warning {
    border: 1px solid red !important
}

@media (max-width:750px) {
    .signup-container {
        height: scroll;
    }

        .signup-container .card {
            max-width: 350px;
            height: auto !important;
            margin: 30px 0
        }

            .signup-container .card .right-side {
                width: 100%
            }

    .input-text {
        display: block
    }

        .input-text .input-div {
            margin-top: 20px
        }

    .signup-container .card .left-side {
        display: none
    }
}

/*### TCHAT ###*/

@media(min-width:568px) {
    .end {
        margin-left: auto
    }
}

@media(max-width:768px) {
    #post {
        width: 100%
    }
}

#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}


#post {
    margin: 10px;
    padding: 6px!important;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: var(--main-color);
    /*border-color: #a88734 #9c7e31 #846a29;*/
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}

.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px
}

    .comment h4,
    .comment span {
        display: inline
    }

    .comment p,
    .comment span{
        color: rgb(184, 183, 183);
        margin-top: 1.3rem;
    }

#align-form {
    margin-top: 0px
}

.tchat .form-group p a {
    color: white
}

#checkbx {
    background-color: black
}

.comment img {
    margin-right: 15px;
    position: static
}

.tchat .form-group input,
.tchat .form-group textarea {
    background-color: #fff;
    /*border: 1px solid rgba(16, 46, 46, 1);*/
    border-radius: 12px
}

.tchat form {
    border: 1px solid #fff;
    background-color: var(--blue-light);
    border-radius: 5px;
    padding: 20px
}