:root {
    --main-color: #1473E6;
    --footer-semi-color: #1473e680;
    --blue-light: #e3f2fd;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    height: 100vh;
}

footer {
    font-weight: 300;
    position: relative
}

.f-title {
    font-size: 9px;
    font-weight: 300;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

    .f-title:visited {
        color: #fff;
    }

footer a.nav-link {
    color: #fff !important;
    font-size: 10px;
}

.sidebar-blue {
    background-color: var(--main-color);
}

@media only screen and (min-width: 1400px) {
    .f-title {
        font-size: 12px !important;
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a.nav-link {
    font-size: 12px;
}

.nav-link.active {
    background-color: #0950a5f0;
    padding: 0.5rem
}

@media only screen and (max-width: 800px) {
    a .nav-link {
        font-size: 10px;
    }

    .header-btn {
        font-size: 10px;
    }

    li.nav-item.px-2 {
        padding-left: 0 !important;
    }

    .floating-btn {
        bottom: 80px !important;
    }

    .sidebar-blue {
        display: none !important;
    }

    .carousel-item {
        height: 57.5rem !important;
    }

        .carousel-item > img {
            height: 57.5rem !important;
        }
}

.header-btn {
    font-size: 12px;
    border: 1.5px solid #fff;
}

.navbar-blue {
    background-color: var(--main-color);
    color: #fff;
}

.bg-blue {
    background-color: var(--main-color);
}

.bg-semi-blue {
    background-color: var(--footer-semi-color);
}

.navbar-blue a, .navbar-blue button {
    color: #fff !important;
    font-weight: 300;
}

.navbar-blue .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.floating-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 5px;
    cursor: pointer
}

.pointer {
    cursor: pointer
}

footer input:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
    background-color: cadetblue;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 49.5rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 49.5rem;
    }

/* Center align the text within the three columns below the carousel */
.features .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

    .features .col-md-4 > div {
        background-color: var(--blue-light);
    }

    .features .col-md-4 h4 {
        font-weight: 400;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    .features .col-md-4 .bd-placeholder-img {
        background-color: var(--footer-semi-color)
    }

    /* rtl:begin:ignore */
    .features .col-md-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
/* rtl:end:ignore */

.featurette-divider {
    margin: 5rem 0;
}

.card-bottom {
    background-color: var(--footer-semi-color)
}

.pricing .card {
    background-color: var(--blue-light);
    border: none !important;
    box-shadow: none !important;
}

.pricing, .features, .traductors {
    margin-top: 5.5rem !important;
}

.stats {
    margin-top: 6rem !important;
    background-color: var(--main-color);
    color: #fff !important;
}

    .stats .row .col-sm-3 {
        text-align: center;
    }

        .stats .row .col-sm-3 h4 {
            font-weight: 300;
        }

        .stats .row .col-sm-3 .stat {
            font-size: 5rem;
        }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.traductors .trad-content .col-6 {
    margin-top: 1.2rem !important;
}

.contact {
    background-color: var(--blue-light);
}

    .contact .card {
        box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 11px 48px -15px rgba(0,0,0,0.2);
        border: none !important;
    }

.vision .illustration > div {
    padding: 0.5rem
}

.vision .vision-cart {
    background-color: var(--blue-light);
    min-height: 250px;
}

.mission {
    margin-top: 8rem !important
}

    .mission . mission-card .col-md-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }


        .mission .mission-card .col-md-4 .bd-placeholder-img {
            background-color: var(--blue-light);
            border: none;
        }


/* Center align the text within the three columns below the carousel */
.about-languages .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}


    .about-languages .col-md-4 h4 {
        font-weight: 400;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    .about-languages .col-md-4 .bd-placeholder-img {
        background-color: var(--footer-semi-color)
    }

    /* rtl:begin:ignore */
    .about-languages .col-md-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }

@media (max-width: 768px) {
    .about-languages .middle {
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 1px solid #7a76761f;
        border-bottom: 1px solid #7a76761f;
    }
}

.mission ul > li {
    margin: 1.2rem;
}

.vision-cart.cart-1 {
    background-image: url(../images/vision-1.jpg);
    object-fit: cover
}

.vision-cart.cart-2 {
    background-image: url(../images/vision-2.jpg);
    object-fit: cover
}

.vision-cart.cart-3 {
    background-image: url(../images/vision-3.jpg);
    object-fit: cover
}

.vision-cart.cart-4 {
    background-image: url(../images/vision-4.jpg);
    object-fit: cover
}

.vision-cart.cart-5 {
    background-image: url(../images/vision-5.jpg);
    object-fit: cover
}

.vision-cart.cart-6 {
    background-image: url(../images/vision-6.jpg);
    object-fit: cover
}
/* rtl:end:ignore */