@page
@model LangueLite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" alt="">

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>About LANGUELITE.</h1>
                    <p>Representative placeholder content for the first slide of the carousel.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Vision
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="vision my-4 mb-5 container">
    <div class="row">
        <div class="col-12 col-sm-8 order-2 order-sm-1">
            <div class="row illustration">
                <div class="col-8">
                    <div class="vision-cart">
                    </div>
                </div>
                <div class="col-4">
                    <div class="vision-cart">
                    </div>
                </div>
                <div class="col-4">
                    <div class="vision-cart">
                    </div>
                </div>
                <div class="col-4">
                    <div class="vision-cart">
                    </div>
                </div>
                <div class="col-4">
                    <div class="vision-cart">
                    </div>
                </div>
                <div class="col-12">
                    <div class="vision-cart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 py-2 order-1 order-sm-2">
            <div class="vision-cart py-4 px-5" style="max-height: 450px; overflow-y: scroll">
                <h2 style="text-align: left" class="my-3">Our Vision</h2>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Mission
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="mission container mt-5">
    <h2 style="text-align: center" class="my-4">Our Mission</h2>
    <div class="row my-5">
        <div class="col-md-6 pe-md-5 mt-2">
            <p style="text-align:justify;line-height: 2rem"">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”, looks like Latin because in its youth, centuries ago, it was Latin
            </p>
        </div>
        <div class="col-md-6 ps-md-5 mt-5">
            <p style="text-align:justify;line-height: 2rem">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”, looks like Latin because in its youth, centuries ago, it was Latin
            </p>
        </div>
    </div>
</div>