@page
@model LangueLite.Pages.LanguagesModel
@{
    ViewData["title"] = "Languages";
}

@*Jumbotron for Languages*@
<div class="bg-light">
    <section class="py-5 mb-5 text-center container-fluid" style="background-color: var(--blue-light)">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Discover our Languages</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card shadow-sm">
                        <img width="100%" height="270" class="bd-placeholder-img card-img-top" style="background-color:#55595c;font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;" />
                        <div class="card-body">
                            <h4 class="fw-light">Ghomala</h4>
                            <p class="card-text text-muted fw-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>